footer {
    align-items: center;
    background-color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacer-lg);
}

.footer .logo-10up {
    width: var(--spacer-lg);
}